$socail-button-color: #fff;
$socail-button-color-hover: #000;
$social-button-transition-speed: .1s;

:root {
    font-size: 16px;
}

html, body {
    margin: 0;
    padding: 0;
    background: #242424;
}

#root {
    align-items: center;
    color: #fff;
    display: grid;
    font-family: 'Roboto', sans-serif;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    justify-items: center;
    padding: 2rem;
    text-align: center;
}

.logo {
    width: 50vw;
    min-width: 200px;
    max-width: 900px;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

@media (min-device-width:320px) and (max-device-width:768px) {
    .logo {
        width: 80vw;
    }
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding: 1rem 0;

    a {
        color: $socail-button-color;
        transition: color $social-button-transition-speed ease-in-out;
    }

    // TODO: Fix this
    // a.social-item {
    //     &-facebook {
    //         &:hover {
    //             color: #3b5998;
    //         }
    //     }
    //     &-discogs {
    //         &:hover {
    //             color: #333;
    //         }
    //     }
    // }

    a:hover {
        color: $socail-button-color-hover;
    }

    & > * {
        font-size: 3rem;
        padding: 1rem;
        margin: 0;
        padding: 0;
        line-height: 0;
    }
}

.phone {
    padding-top: .5rem;
}
